<!-- <mat-card>
    <mat-card-title>Vessel Details</mat-card-title>
    <mat-card-subtitle>Details about your vessel's hull will help calculate drag and maximum hull speed
    </mat-card-subtitle>
    <mat-card-content> -->
        <h2>Hull Data</h2>
        <mat-form-field class="mid-text">
            <input matInput name="makeModel" placeholder="Boat Make and Model" [(ngModel)]="boat.makeModel">
        </mat-form-field>
        <mat-form-field class="mid-text">
            <input matInput name="waterline" [(ngModel)]="boat.waterline"
                placeholder="LWL (lenght of the boat at the waterline)" required>
        </mat-form-field>
        <mat-form-field class="mid-text"><input matInput name="displacement" [(ngModel)]="boat.displacement"
                placeholder="Displacement in Lbs" type="number"  required></mat-form-field>
        <mat-form-field class="mid-text">
            <input matInput name="Draft" [(ngModel)]="boat.draft" type="number"  placeholder="Draft (exclude keel and rudder)" required>
        </mat-form-field>
        <mat-form-field class="mid-text">
            <input matInput name="beam" [(ngModel)]="boat.beam"  type="number" placeholder="Maximum Waterline Beam" required>
        </mat-form-field>
        <mat-form-field class="mid-text">
            <input matInput name="search" [(ngModel)]="boat.prismatic"  type="number" placeholder="Prismatic Coefficent">
        </mat-form-field>
        <h2>Propeller</h2>
        <mat-form-field class="mid-text">
            <input matInput name="propeller.diameter"  type="number" [(ngModel)]="propeller.diameter" required
                placeholder="Propeller Diameter">
        </mat-form-field>
        <mat-form-field class="mid-text">
            <input matInput name="propeller.maxHullSpeedInKnots" type="number"  [(ngModel)]="propeller.maxHullSpeedInKnots" required
                placeholder="Max Hullspeed (in knots)">
        </mat-form-field>
        <mat-form-field class="mid-text">
            <input matInput name="propeller.rpmAtHullSpeed" type="number"  [(ngModel)]="propeller.rpmAtHullSpeed" required
                placeholder="Shaft RPM @ Hull Speed">
        </mat-form-field>
         <br>
         <div style="width:100%;margin-bottom: 30px;">
            <ul *ngIf="propeller.pitch>0 && propeller.pitch<10000000">
                <li>Calculated Pitch for 55% slip: {{propeller.pitch}}</li>
            </ul>
        </div>

        <h2>HULL PERFORMANCE</h2>
        <table class="styled-table">
            <tr>
                <td class="grid-title">SPEED LENGTH RATIO</td>
                <td *ngFor="let s of speeds">{{s}}</td>        
            </tr>
            <tr>
                <td class="grid-title">SPEED IN KNOTS</td>
                <td *ngFor="let s of speeds">{{speed(s).toFixed(1)}}</td>            
            </tr>
            <tr>
                <td class="grid-title">ESTIMATED HULL DRAG LBS.</td>
                <td colspan="8"></td>
                <td>{{hullDrag(17)}}</td>
                <td>{{hullDrag(19)}}</td>
                <td>{{hullDrag(22)}}</td>
                <td>{{hullDrag(27)}}</td>
                <td>{{hullDrag(33)}}</td>
                <td>{{hullDrag(42)}}</td>
                <td>{{hullDrag(54)}}</td>
                <td>{{hullDrag(70)}}</td>
            </tr>        
            <tr>
                <td class="grid-title"> HP required for 3 blade Prop </td>
                <td colspan="8"></td>
                <td>{{hpReq(1,17)}}</td>
                <td>{{hpReq(1.05,19)}}</td>
                <td>{{hpReq(1.1,22)}}</td>
                <td>{{hpReq(1.15,27)}}</td>
                <td>{{hpReq(1.2,33)}}</td>
                <td>{{hpReq(1.25,42)}}</td>
                <td>{{hpReq(1.3,54)}}</td>
                <td>{{hpReq(1.35,70)}}</td>
            </tr>
        </table>

        <h2>Propeller Model</h2>
        <ul>
            <li>Recommended Prop Diameter : <b>{{prop()}}</b></li>
            <li>Efficient shaft speed @ hull speed : <b>{{efficient()}}</b></li>
            <li>Optimum pitch for 55% slip @ hull speed: <b>{{optPitch()}}</b></li>
        </ul>
        
       
<!-- 
        <mat-card-actions>
            <button mat-raised-button>Cancel</button>
            <button mat-raised-button color="primary" (click)="save()">Continue</button>
        </mat-card-actions>

    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card> -->